In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('UTF-8100024994_HUF_20250328_080048.xlsx')

C:\Users\hifly\AppData\Roaming\Python\Python312\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df.head(10)

,GLS General Logistics Systems Hungary Kft.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ügyfél név: SULLER-TÁP KFT.,NaN,NaN,NaN,NaN,NaN,NaN
2,Email:: info@kutyakajas.hu;konyveles@szamadok....,NaN,NaN,NaN,NaN,NaN,NaN
3,Bankszámlaszám: 10104459-27057500-02005001,NaN,NaN,NaN,NaN,NaN,NaN
4,Utalás dátuma: 2025. 03. 28.,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jelentés szám,Csomagszám,Utánvét hivatkozás,Kiszállítási dátum,Utánvét összeg,NaN,Levelezési cím
7,79337810,3348922086,SA25/H031391,2025-03-26,8580,HUF,GLS Automata Win Car WASH HU-8900 ZALAEGERSZEG...
8,79338533,3348931485,SA25/H031431,2025-03-26,22525,HUF,Dr. Nagy Ákos HU-9437 Hegykő Patak u. 37
9,79338600,3348932417,SA25/H031439,2025-03-26,21500,HUF,GLS Automata Gold-lakk Festék Szaküzlet HU-210...

In [4]:
df = df.drop(index=range(0, 7))

In [7]:
# Remove the last row:
df = df.drop(df.index[-1])

In [8]:
# Reset the row index
df.reset_index(drop=True, inplace=True)

In [9]:
# If you want to ensure column indexes start from 0 and are sequential,
# you can simply re-assign a range if needed (though typically column names are used)
df.columns = range(df.shape[1])

In [10]:
df.head()

,0,1,2,3,4,5,6
0,79337810,3348922086,SA25/H031391,2025-03-26,8580,HUF,GLS Automata Win Car WASH HU-8900 ZALAEGERSZEG...
1,79338533,3348931485,SA25/H031431,2025-03-26,22525,HUF,Dr. Nagy Ákos HU-9437 Hegykő Patak u. 37
2,79338600,3348932417,SA25/H031439,2025-03-26,21500,HUF,GLS Automata Gold-lakk Festék Szaküzlet HU-210...
3,79338673,3348933482,SA25/H031445,2025-03-26,14970,HUF,"GLS Automata Tesco, Mátészalka HU-4700 MÁTÉSZA..."
4,79339137,3348939429,SA25/H031478,2025-03-26,20085,HUF,"GLS Automata Coop ABC, Hajdúdorog, Nánási út 2..."

In [11]:
df = df.iloc[:, [2, 4]]

In [12]:
df.head()

              2      4
0  SA25/H031391   8580
1  SA25/H031431  22525
2  SA25/H031439  21500
3  SA25/H031445  14970
4  SA25/H031478  20085

In [13]:
# Converting the grand total to integer
df[4] = df[4].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2       78 non-null     object
 1   4       78 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.3+ KB